body {
    background-color: #c8d0d2;
    margin: 0;
}
.carasel-container {
    display: flex;
    max-width: 50%;
    flex-flow: column wrap;
    margin-left: auto;
    margin-right: auto;
}

.flashcard {
    padding: 7rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    background-color: white;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
}

.flashcard:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.flashcard.flip {
    --rotate-y: 180deg;
}
.flashcard .front,
.flashcard .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.flashcard .back {
    transform: rotateY(180deg);
}

.card-carosel {
    display: flex;
    justify-content: center;
}
.card-index {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .25rem;
}